.inputAdd {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;
  margin-bottom: 15px;

  &Value {
    border: 1px solid #3f72af;
    border-radius: 5px 0px 0px 5px;
    padding: 9px 10px;
    background: #e8e8e8;
    outline: none;
    &::placeholder {
      color: #3f72af;
    }
  }
  &Btn {
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: #3f72af url('./images/plus.svg') no-repeat center center;
    transition: opacity 0.4s;
    &:hover {
      opacity: 0.7;
    }
  }
}
